@use "sass:map";

@function createVariant($size, $lineHeight, $weight: null, $letterSpacing: null) {
  @return (
    size: $size,
    lineHeight: $lineHeight,
    letterSpacing: $letterSpacing,
    weight: $weight
  )
}

$variants: (
  headline5: createVariant(24px, 28px, 500),
  headline6: createVariant(20px, 24px, 500),
  headline7: createVariant(17px, 22px, 500),
  body1: createVariant(16px, 20px),
  subtitle1: createVariant(15px, 18px),
  subtitle2: createVariant(14px, 16px),
  button1: createVariant(15px, 18px, 500, 0.1px),
  button2: createVariant(14px, 16px, 600),
  caption1: createVariant(13px, 16px),
  caption2: createVariant(12px, 14px),
);

$weights: (regular: 400, medium: 500);

.tgui-typography-android {
  font-family: Roboto, sans-serif;

  @each $variant, $settings in $variants {
    &--#{$variant} {
      line-height: map.get($settings, "lineHeight");
      font-size: map.get($settings, "size");

      $weight: map.get($settings, "weight");
      @if $weight {
        font-weight: $weight;
      }

      $letterSpacing: map.get($settings, "letterSpacing");
      @if $letterSpacing {
        letter-spacing: $letterSpacing;
      }

      @if $variant == 'button2' {
        text-transform: uppercase;
      }
    }
  }

  @each $weightName, $weightValue in $weights {
    &--#{$weightName} {
      font-weight: $weightValue;
    }
  }

  &--mono {
    font-family: Roboto Mono, sans-serif;
  }
}
