.tgui-list-android {
  &__body {
    background: var(--tgui-list-android-body-bg, white);
  }

  &__title {
    padding: 19px 20px 3px;
    margin: 0;
    color: var(--tgui-list-android-title-color, #3A95D5);
  }

  &__list {
    appearance: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__footer {
    padding: 12px 20px;
    margin: 0;
    color: var(--tgui-list-android-footer-color, #8E8E93);
  }
}