:root {
  --accent-text-color: var(--tg-theme-accent-text-color);
  --bg-color: var(--tg-theme-bg-color);
  --bottom-bar-bg-color: var(--tg-theme-bottom-bar-bg-color);
  --button-color: var(--tg-theme-button-color);
  --button-text-color: var(--tg-theme-button-text-color);
  --destructive-text-color: var(--tg-theme-destructive-text-color);
  --header-bg-color: var(--tg-theme-header-bg-color);
  --hint-color: var(--tg-theme-hint-color);
  --link-color: var(--tg-theme-link-color);
  --secondary-bg-color: var(--tg-theme-secondary-bg-color);
  --section-bg-color: var(--tg-theme-section-bg-color);
  --section-header-text-color: var(--tg-theme-section-header-text-color);
  --section-separator-color: var(--tg-theme-section-separator-color);
  --subtitle-text-color: var(--tg-theme-subtitle-text-color);
  --text-color: var(--tg-theme-text-color);
  --app-bg-color: var(--tg-app-bg-color);
}
