:root {
  // Common.
  --tgui-button-base-filled-bg-color: var(--button-color);
  --tgui-button-base-filled-text-color: var(--button-text-color);
  --tgui-button-base-tinted-bg-color: var(--secondary-accent-color);
  --tgui-button-base-tinted-text-color: var(--accent-text-color);
  --tgui-button-base-disabled-bg-color: var(--button-main-disabled-color);
  --tgui-button-base-disabled-text-color: var(--text-main-disabled-color);

  // Android.
  --tgui-list-android-item-placeholder-color: var(--subtitle-text-color);
  --tgui-list-android-item-accent-color: var(--link-color);
  --tgui-list-android-item-destructive-color: var(--destructive-text-color);
  --tgui-list-android-item-body-left-subtitle-color: var(--subtitle-text-color);
  --tgui-list-android-item-body-left-input-regular-text-color: var(--text-color);
  --tgui-list-android-item-body-left-input-regular-placeholder-color: var(--hint-color);
  --tgui-list-android-item-body-left-input-disabled-text-color: var(--hint-color);
  --tgui-list-android-item-body-left-input-disabled-placeholder-color: var(--hint-color);
  --tgui-list-android-item-body-right-label-color: var(--subtitle-text-color);
  --tgui-list-android-item-body-right-badge-bg: var(--destructive-text-color);
  --tgui-list-android-item-body-right-badge-color: white;
  --tgui-list-android-item-body-right-chevron-color: var(--subtitle-text-color);
  --tgui-list-android-item-body-right-checkmark-color: var(--accent-text-color);
  --tgui-list-android-item-body-right-clear-color: var(--subtitle-text-color);

  --tgui-section-android-header-default-color: var(--section-header-text-color);
  --tgui-section-android-footer-color: var(--subtitle-text-color);

  --tgui-switch-android-bg: var(--hint-color);
  --tgui-switch-android-checked-bg: var(--button-color);
  --tgui-switch-android-knob-color: var(--hint-color);
  --tgui-switch-android-knob-checked-color: var(--button-color);

  --tgui-radio-android-checked-color: var(--button-color);
  --tgui-radio-android-color: var(--hint-color);

  // Ios.
  --tgui-list-ios-item-placeholder-color: var(--subtitle-text-color);
  --tgui-list-ios-item-accent-color: var(--link-color);
  --tgui-list-ios-item-destructive-color: var(--destructive-text-color);
  --tgui-list-ios-item-body-left-subtitle-color: var(--subtitle-text-color);
  --tgui-list-ios-item-body-left-input-regular-text-color: var(--text-color);
  --tgui-list-ios-item-body-left-input-regular-placeholder-color: var(--hint-color);
  --tgui-list-ios-item-body-left-input-disabled-text-color: var(--hint-color);
  --tgui-list-ios-item-body-left-input-disabled-placeholder-color: var(--hint-color);
  --tgui-list-ios-item-body-right-label-color: var(--subtitle-text-color);
  --tgui-list-ios-item-body-right-badge-bg: var(--destructive-text-color);
  --tgui-list-ios-item-body-right-badge-color: white;
  --tgui-list-ios-item-body-right-chevron-color: var(--subtitle-text-color);
  --tgui-list-ios-item-body-right-checkmark-color: var(--accent-text-color);
  --tgui-list-ios-item-body-right-clear-color: var(--subtitle-text-color);
  --tgui-list-ios-item-body-separator-color: var(--section-separator-color);

  --tgui-section-ios-header-default-color: var(--section-header-text-color);
  --tgui-section-ios-footer-color: var(--subtitle-text-color);

  --tgui-switch-ios-bg: var(--secondary-fill-bg-color);
  --tgui-switch-ios-checked-bg: var(--button-confirm-color);
  --tgui-switch-ios-knob-bg: var(--button-text-color);
  --tgui-switch-ios-mark-left-color: black;
  --tgui-switch-ios-mark-right-color: var(--subtitle-text-color);

  --tgui-radio-ios-checked-color: var(--button-color);
  --tgui-radio-ios-icon-color: var(--button-text-color);
  --tgui-radio-ios-border-color: var(--hint-color);

  // Insets.
  @each $side in ('bottom', 'top', 'left', 'right') {
    @each $shortType, $longType in ("csa": "content-safe-area",  "sa": "safe-area", "sum": "sum") {
      --tgui-safe-area-insets-#{$side}-#{$shortType}-inset: var(--#{$longType}-inset-#{$side});
    }
  }
}
