@use "@tma.js/vue-kit/index.css";

:root {
  // For each inset type, declare CSS variables.
  @each $inset-type in ("top", "left", "right", "bottom") {
    --tg-viewport-sum-inset-#{$inset-type}: calc(var(--tg-viewport-safe-area-inset-#{$inset-type}, 0px) + var(--tg-viewport-content-safe-area-inset-#{$inset-type}, 0px));
  }

  // Palette fallbacks.
  @each $key, $fallback in (
    "section-bg-color": "bg-color",
    "accent-text-color": "link-color",
    "subtitle-text-color": "hint-color",
    "section-header-text-color": "hint-color",
    "destructive-text-color": "text-destructive-color",
  ) {
    --tg-theme-#{$key}: var(--tg-theme-#{$fallback});
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  color: var(--tg-theme-text-color, white);
  background: var(--tg-app-bg-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  // There is no user selection in mobile applications. We are enabling this feature per-case.
  user-select: none;
}
