:root {
  // Common.
  --tgui-button-base-filled-bg-color: var(--tg-theme-button-color);
  --tgui-button-base-filled-text-color: var(--tg-theme-button-text-color);
  --tgui-button-base-tinted-bg-color: var(--secondary-accent-color);
  --tgui-button-base-tinted-text-color: var(--tg-theme-accent-text-color);
  --tgui-button-base-disabled-bg-color: var(--button-main-disabled-color);
  --tgui-button-base-disabled-text-color: var(--text-main-disabled-color);

  // Insets.
  @each $side in ('bottom', 'top', 'left', 'right') {
    @each $shortType, $longType in ("csa": "content-safe-area",  "sa": "safe-area", "sum": "sum") {
      --tgui-safe-area-insets-#{$side}-#{$shortType}-inset: var(--#{$longType}-inset-#{$side});
    }
  }
}
