@mixin noHighlight {
  -webkit-tap-highlight-color: transparent;
}

@mixin clickable {
  @include noHighlight;
  cursor: pointer;
}

@mixin hideScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin lineClamp($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}
