@use "../../../scss/mixins" as mixins;

$component: "tgui-checkbox-ios";

.#{$component} {
  @include mixins.clickable;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px var(--tgui-checkbox-ios-border-color, #C8C7CC);
  transition: 300ms ease;
  transition-property: transform, box-shadow;
  position: relative;
  box-sizing: border-box;
  --checked-color: var(--tgui-checkbox-ios-checked-color, #007AFF);

  &--checked {
    box-shadow: inset 0 0 0 11px var(--checked-color);
    border-color: var(--checked-color);
  }

  &--active {
    transform: scale(0.9);
  }

  &__input {
    display: none;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--tgui-checkbox-ios-icon-color, white);
    transition: stroke-dashoffset 300ms ease;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;

    &--checked {
      stroke-dashoffset: 78;
    }
  }
}
