.tgui-list-ios__item-body-left {
  display: flex;
  height: 100%;
  flex: 1 0 0;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 16px;

  &--reversed {
    flex-flow: column-reverse;
  }

  &--large {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}