@use "sass:map";
@use "../../../scss/vars";

$component: "button-ios";
$shineWidth: 80px;

@mixin variant($name, $height, $borderRadius, $padding, $gap: null) {
  &--#{$name} {
    height: $height;
    border-radius: $borderRadius;
    padding: $padding;
    gap: $gap;
    @content;
  }
}

@mixin theme($name, $bgColor, $textColor) {
  &--#{$name} {
    background: vars.componentVar($component, #{$name}-bg, $bgColor);
    color: vars.componentVar($component, #{$name}-color, $textColor);
    @content;
  }
}

.tgui-#{$component} {
  appearance: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;

  @include variant("regular", 50px, 10px, 0 24px, 6px);
  @include variant("multiline", 58px, 12px, 7px 24px 8px, 2px) {
    flex-direction: column;
  }
  @include variant("small-rounded", 28px, 30px, 0 12px);
  @include variant("small-squared", 26px, 6px, 3px 10px 5px);

  &--active {
    opacity: 0.9;
  }

  &--full-width {
    width: 100%;
  }

  @include theme("filled", #007AFF, white) {
    &-shine {
      background: vars.componentVar($component, filled-bg, #007AFF) linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.00) 0%,
          rgba(255, 255, 255, 0.85) 40%,
          #FFF 50%,
          rgba(255, 255, 255, 0.85) 60%,
          rgba(255, 255, 255, 0.00) 100%
      ) repeat-y;
      background-size: $shineWidth;
      background-blend-mode: soft-light;
      outline: solid rgba(255, 255, 255, 0) 1.33px;
      outline-offset: -1.33px;
      animation: tgui-button-ios-shine 2s ease infinite;
    }
  }
  @include theme("tinted", #007AFF1A, #007AFF);
  @include theme("plain", transparent, #007AFF);
  @include theme("disabled", #E8E8E9, #B9B9BA) {
    cursor: default;
  }

  &--shine {
    position: relative;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &--regular {
      width: 24px;
      height: 24px;
    }

    &--multiline {
      width: 28px;
      height: 28px;
    }

    &-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@keyframes tgui-button-ios-shine {
  from {
    background-position: right calc(100% + $shineWidth) bottom 0;
    outline-color: transparent;
  }
  10% {
    outline-color: rgba(255, 255, 255, 0.2);
  }
  20% {
    background-position: left calc(100% + $shineWidth) bottom 0;
    outline-color: transparent;
  }
  to {
    background-position: left calc(100% + $shineWidth) bottom 0;
  }
}