.tgui-list-android__item-body-left-subtitle {
  color: var(--tgui-list-android-item-body-left-subtitle-color, #82868A);
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}