@use "../../../../scss/mixins";

.tgui-list-android__item-body-right-clear {
  color: var(--tgui-list-android-item-body-right-clear-color, #8E8E93);
  padding: 10px;
  box-sizing: content-box;
  margin-right: -10px;
  @include mixins.clickable;
}