$component: "text-field-ios";

.tgui-#{$component}__clear {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tgui-#{$component}-clear-color, #8E8E93);
  box-sizing: border-box;
  padding: 0 14px 0 5px;
  cursor: pointer;

  &-icon {
    width: 22px;
  }
}