$component: "text-field-ios";

.tgui-#{$component}__placeholder {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  color: var(--tgui-#{$component}-placeholder-color, #8E8E93);
  pointer-events: none;
  user-select: none;
}