:root {
  // For each inset type, declare CSS variables.
  @each $inset-type in ("top", "left", "right", "bottom") {
    --sum-inset-#{$inset-type}: calc(var(--safe-area-inset-#{$inset-type}, 0px) + var(--content-safe-area-inset-#{$inset-type}, 0px));
  }

  // Palette fallbacks.
  @each $key, $fallback in (
    "section-bg-color": "bg-color",
    "accent-text-color": "link-color",
    "subtitle-text-color": "hint-color",
    "section-header-text-color": "hint-color",
    "destructive-text-color": "text-destructive-color",
  ) {
    --#{$key}: var(--#{$fallback});
  }

  --list-android-item-placeholder-color: var(--subtitle-text-color);
  --list-android-item-accent-color: var(--link-color);
  --list-android-item-body-left-subtitle-color: var(--subtitle-text-color);
  --list-android-item-body-right-label-color: var(--subtitle-text-color);
  --list-android-item-body-right-badge-bg: var(--destructive-text-color);
  --list-android-item-body-right-badge-color: white;
  --list-android-item-body-right-chevron-color: var(--subtitle-text-color);
  --list-android-item-body-right-checkmark-color: var(--accent-text-color);
  --list-android-item-body-input-clear-color: var(--subtitle-text-color);
  --list-android-item-body-input-placeholder-color: var(--subtitle-text-color);
  --list-android-item-body-separator-color: var(--section-separator-color);

  --list-ios-item-placeholder-color: var(--subtitle-text-color);
  --list-ios-item-accent-color: var(--link-color);
  --list-ios-item-body-left-subtitle-color: var(--subtitle-text-color);
  --list-ios-item-body-right-label-color: var(--subtitle-text-color);
  --list-ios-item-body-right-badge-bg: var(--destructive-text-color);
  --list-ios-item-body-right-badge-color: white;
  --list-ios-item-body-right-chevron-color: var(--subtitle-text-color);
  --list-ios-item-body-right-checkmark-color: var(--accent-text-color);
  --list-ios-item-body-input-clear-color: var(--subtitle-text-color);
  --list-ios-item-body-input-placeholder-color: var(--subtitle-text-color);
  --list-ios-item-body-separator-color: var(--section-separator-color);
  --section-header-ios-default-color: var(--section-header-text-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  color: var(--text-color, white);
  background: var(--app-bg-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  // There is no user selection in mobile applications. We are enabling this feature per-case.
  user-select: none;
}
