.tgui-android-page-transition {
  position: fixed;
  top: 0;
  left: 0;

  &--right {
    z-index: 100;
  }

  &--leave {
    &.tgui-android-page-transition {
      &--left {
        .tgui-bottom-bar {
          transform: translateY(100%) scale(0.8);
          opacity: 0;
        }
      }

      &--right {
        .tgui-bottom-bar {
          left: 100%;
          transform: translateY(100%) scale(0.8);
          opacity: 0;
        }
      }
    }
  }
}
